   <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Main</a></li>
    <li role="presentation"><a href="/scrape">Scrape articles</a></li>
    <li role="presentation"><a href="/headlines">Headlines</a></li>
  </ul>

  <div class="jumbotron">
    <h1>NewsFanatic</h1>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>News Articles</h2>
      <div id="articles"></div>

<!--       This does not work. The data is an array of objects. I'm not sure how to access it using handlebars -->
        {{#each headlines}}
        <tr><td data={{this._id}}>{{this.title}}</td>
        <td></td>{{this.url}}</td></tr>
      </tbody>
      {{/each}}
  </table>
    </div>


    <div class="col-md-3">

      <div id="notes"></div>

    </div>

  </body>
</html>
