   <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Main</a></li>
    <li role="presentation"><a href="/scrape">Scrape more articles</a></li>
    <li role="presentation"><a href="/headlines">Headlines</a></li>
  </ul>

  <div class="jumbotron">
    <h1>NewsFanatic</h1>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>News Articles</h2>
      <div id="articles"></div>

<!--       This does not work -->
      {{#each headlines}}
        <tr><td data={{this._id}}>{{this.title}}</td>
        <td></td>{{this.url}}</td></tr>
      </tbody>
      {{/each}}
  </table>
    </div>


    <div class="col-md-3">

      <form action="/notes" method="post">

      <h2>Enter a Note!</h2>
        <input type="text" name="title" placeholder="Title"><br><br>
        <textarea type="text" name="body">Note</textarea><br><br>

        <input type="submit" id="notes">
      </form>
            <div id="notes"></div>

</div>
      </body>
</html>
<script>
// Grab the articles as a json

$.getJSON("/headlines", function(data) {

  console.log(data[0]._id);
  // For each one

  for (var i = 0; i < data.length; i++) {
    // Display the apropos information on the page
 $("#articles").append("<p data-id='" + data[i]._id + "'>" + data[i].title + "<br /> https://www.newyorker.com" + data[i].url + "</p>");

  };
});


</script>
